.welcome-message-login {
  text-align: center;
  font-family: arial;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
}

.select-profile {
  width: 47%;
  display: inline-block;
  text-align: right;
  font-size: 15px;
  padding-bottom: 20px;
  margin-right: 10px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-fields {
  padding: 10px;
  width: 250px;
}

.profile-custom-select {
  width: 130px;
  border: none;
  color: #447093;
  font-weight: bold;
  font-size: large;
}