.search-bar {
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .table {
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .table-header {
    font-weight: bold;
  }
  
  .search-bar{
    width: 100;
  }

  .body{
    margin-left: 2%;
  }
  .select-work-slot{
    margin-left: 7%;
    padding-bottom: 2%;
  }